

.vs/

SistemaVenta/obj

SistemaVenta/bin


SistemaVenta/Resource/Animacion

SistemaVenta/Resource/Icon

SistemaVenta/Resource/Imagen-Foto_Usuario

SistemaVenta/Resource/Logo-Proveedor

SistemaVenta/Resource/Imagen-Productos

SistemaVenta/Resource/Login


SistemaVenta/Resource/Logotipo_Marca

